#info{
    float: left;
}

label{
    float:left;
    width:200px;
    font-weight: bold;
    padding:5px;
}
form br {
    clear:both;
}
input:focus {
    background-color: #e3e5e8;
}
form {
    padding: auto;
    align-content: center;
}

#searchResult{
    margin-left: auto;
    margin-right: auto;
}

.align-self-center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.pagination{
    margin: 0px;
    padding: 0px;
}
input{
    width: 100%;
    border: 1px solid #ccc;
}
tr:hover{
       background-color: #ECFBD4;
}
.text-center{
    margin: auto;
    padding: auto;
}